<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tim Berners-Lee</h1>
    <img src="/img/Berners-Lee.jpg" alt="berners-lee">
    <p>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
    <h2>Indice</h2>
    <ol type="1">
        <li ><a href="#biografia">Biografía</a></li>
        <li><a href="#desarrollo">Desarrollo de su carrera</a></li>
        <li><a href="#proyectos">Proyectos actuales</a></li>
    
       
    </ol>
    <h2 id="biografia" >Biografía</h2>
    <p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de junio de 1955. Sus padres eran Conway Berners-Lee y Mary Lee Woods. Sus padres eran matemáticos británicos y formaron parte del equipo que construyó el Manchester Mark I[cita requerida]. Por ello, la orientación profesional le venía de familia, ya que sus padres se habían conocido en el proyecto de desarrollo del Ferranti Mark I, el primer ordenador comercial con programa almacenado desarrollado por la empresa Ferranti en marzo de 1951. Su padre, Conway Berners-Lee, y su madre, Mary Lee Woods, también fueron especialistas en computación; trabajaron con el equipo que construyó el Ferranti Mark</p>
    
    <h2 id="desarrollo" >Desarrollo de su carrera</h2>
    <p>Berners-Lee trabajó en el CERN desde junio hasta diciembre de 1980. Durante ese tiempo, propuso un proyecto basado en el hipertexto para facilitar la forma de compartir y la puesta al día de la información entre investigadores. En este periodo también construyó un programa llamado ENQUIRE que no llegó a ver la luz</p>
    <p>En 1989, el CERN era el nodo de Internet más grande de Europa y Berners-Lee vio la oportunidad de unir Internet y el hipertexto (HTTP y HTML), de lo que surgiría la World Wide Web. Desarrolló su primera propuesta de la Web el 12 de marzo de 1989,pero no tuvo mucho eco, por lo que en 1990 y con la ayuda de Robert Cailliau, hicieron una revisión que fue aceptada por su gerente, Mike Sendall. Usó ideas similares a las que había usado en el sistema Enquire, para crear la World Wide Web, para esto diseñó y construyó el primer navegador (llamado WorldWideWeb y desarrollado con NEXTSTEP) y el primer servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).</p>
    <p>El primer servidor Web se encontraba en el CERN y fue puesto en línea el 6 de agosto de 1991. Esto proporcionó una explicación sobre lo que era el World Wide Web, cómo uno podría tener un navegador y cómo establecer un servidor Web. Este fue también el primer directorio Web del mundo, ya que Berners-Lee mantuvo una lista de otros sitios Web aparte del suyo. Debido a que tanto el software del servidor como del cliente fue liberado de forma gratuita desde el CERN, el corazón de Internet Europeo en esa época, su difusión fue muy rápida. El número de servidores Web pasó de veintiséis en 1992 a doscientos en octubre de 1995 lo que refleja cual fue la velocidad de la difusión de internet.</p>
    <p>En 1994 entró en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial del Massachusetts Institute of Technology. Se trasladó a EE. UU. y puso en marcha el W3C, que dirige actualmente. El W3C es un organismo internacional de estandarización de tecnologías Web dirigido conjuntamente por el Instituto Tecnológico de Massachusetts, el ERCIM francés y la Universidad de Keiō en Japón. Este organismo decidió que todos sus estándares fuesen libres, es decir, que los pudiese utilizar todo el mundo libremente sin coste alguno, lo que sin lugar a dudas fue una de las grandes razones para que la Web haya llegado a tener la importancia que tiene hoy en día.</p>

    <h2 id="proyectos" >Proyectos actuales</h2>
    <p>Tim Berners-Lee fue crítico con las expectativas generadas alrededor de la Web 2.0 cuando se argumentó sobre esta plataforma que «si la web 1.0 conectaba ordenadores, la web 2.0 conecta personas». Tim opina que no se trata de una nueva generación de web sino una forma diferente y, eso si, mucho más capaz de desplegar aplicaciones sobre la misma plataforma de la web inventado por él. En este sentido, herramientas como las wikipedias o los blogs son unas herramientas que fomentan y potencian la participación y colaboración, pero, de hecho, no hay ningún componente tecnológico base que no existiera desde bastantes años antes.</p>
    <p>Desde 2001, Tim Berners-Lee trabaja en el proyecto de la web semántica,que tiene como objetivo crear un medio universal para el intercambio de información significativa (semántica), de una forma comprensible para las máquinas, del contenido de los documentos de la Web. Con esto se pretende ampliar la interoperabilidad de los sistemas informáticos y reducir la mediación de los operadores humanos en los procesos inteligentes de flujo de información. La misma concepción de la web como medio universal de presentación tenía la orientación de que fuera interpretable por los humanos y, por lo tanto, tiene una orientación visual. Este aspecto resta capacidad para el intercambio de información entre máquinas reduciendo las posibilidades de acceso a la información de forma sistemática e industrializada</p>

<a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee">Fuente: wikipedia</a>
    <ul type = "none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>
</body>
</html>