<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1 align="center">Heroes</h1>
    
    <ul type = "none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Heroes_tv_series.svg/1200px-Heroes_tv_series.svg.png" alt="Heroes">
    <p><p>Te damos la bienvenida a la tierra de los Heroes, donde cada uno de los personajes cuentan con varios títulos en agradecimiento por sus contribuciones históricas en sus diferentes áreas de profesion, ya sea artística, políticas o militar.   </p></p>
    </div>
</body>
</html>